<div class="header-wrapper">
  <nav>
    <div class="nav_inner left-nav">
      <img src="favicon.ico" />
    </div>
    <ul class="nav_inner right-nav">
      <li class="link_wrapper">
        <a class="nav_link">Availablities</a>
      </li>
      <li class="link_wrapper">
        <a class="nav_link">For teams</a>
      </li>
      <li class="link_wrapper">
        <a class="nav_link">Resources</a>
      </li>
      <li class="link_wrapper">
        <a class="nav_link">Plans</a>
      </li>
      <p-divider layout="vertical" />
      <li class="link_wrapper">
        <a
          class="nav_link"
          routerLink="/sign-up"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li class="link_wrapper">
        <p-button label="Start now" />
      </li>
    </ul>
  </nav>
</div>
