<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Hello <span th:text="${receiver}"></span>,</p>
    <p>Welcome to Todo app!</p>
    <p>Otp: <span th:text="${otp}"></span></p>
    <p>Thank you for joining us!</p>
    <p>Best regards,</p>
    <p>The Danekerscode Team</p>
</div>
</body>
</html>
