<div class="login_form">
  <form [formGroup]="signUpForm" (submit)="handleLoginAttempt()">
    <h3>Log in with</h3>

    <div class="login_option">
      <div class="option">
        <a href="#">
          <img src="logos/google.png" alt="Google" />
          <span>Google</span>
        </a>
      </div>

      <div class="option">
        <a href="#">
          <img src="logos/apple.png" alt="Apple" />
          <span>Apple</span>
        </a>
      </div>
    </div>

    <p class="separator">
      <span>or</span>
    </p>

    <div class="input_box">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Enter email address"
        formControlName="email"
      />
    </div>

    <div class="input_box">
      <div class="password_title">
        <label for="password">Password</label>
        <a href="#">Forgot Password?</a>
      </div>

      <p-password
        id="password"
        placeholder="Enter your password"
        formControlName="password"
        [toggleMask]="true"
      />
    </div>

    <button type="submit">Log In</button>

    <p class="sign_up">Don't have an account? <a href="#">Sign up</a></p>
  </form>
</div>
